<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/head"></th:block>

<body class="index-page sidebar-collapse">

	<header th:replace="/index :: header"></header>

	<div class="main">

		<div class="container py-4">
			<div class="card bg-light">
				<div class="card-header text-white bg-dark">Nueva Orden</div>
				<div class="card-body">

					<form id="frmCreateOrder" th:action="@{/orders/create}"
						th:object="${order}" method="post">

						<div class="form-group row">
							<label for="name" class="col-sm-2 col-form-label">Nro.
								Orden</label>
							<div class="col-sm-6" style="min-width: 80%">
								<input type="text" th:field="*{name}" class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
							</div>
						</div>

						<div class="form-group row">
							<label for="dateEmission" class="col-sm-2 col-form-label">Fecha
								Emision</label>
							<div class="col-sm-6" style="min-width: 80%">
								<input type="date" th:field="*{dateEmission}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('dateEmission')}"
									th:errors="*{dateEmission}"></small>
							</div>
						</div>


					</form>

					<div class="container py-4">
						<div class="card bg-light">
							<div class="card-header text-white bg-dark">Detalle</div>
							<div class="card-body">

								<table class="table table-responsive highlight">
									<thead>
										<tr>
											<th>Producto</th>
											<th>Cantidad</th>
											<th>Eliminar</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="orderDetail : ${orderDetailList}">
											<td><th:block th:each="product : ${orderDetail.product}">
													<span th:text="${product.name} + ' '">Item
														Description Here...</span>
												</th:block></td>
											<td th:text="${orderDetail.quantity}"></td>											
										</tr>										
									</tbody>
								</table>

								<!-- Button trigger modal -->
								<a type="button" class="btn btn-primary" data-toggle="modal"
									data-target="#modalDetail"> Agregar</a>

								<!-- Modal -->
								<div class="modal fade" id="modalDetail" tabindex="-1"
									role="dialog" aria-labelledby="exampleModalLabel"
									aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">Agregar
													Producto</h5>
											</div>
											<div class="modal-body">
												<form id="frmCreateOrderDetail"
													th:action="@{/orders/orderDetail/create}"
													th:object="${orderDetail}" method="post">

													<div class="form-group">
														<label for="product">Producto</label> <select id="product"
															class="form-control" th:field="*{product}">
															<option th:each="product : ${products}"
																th:text="${product.name}" th:value="${product.id}"></option>
														</select>
													</div>

													<div class="form-group">
														<label for="quantity">Cantidad</label>
														<div class="form-group">
															<input type="text" th:field="*{quantity}"
																class="form-control validate"
																th:errorclass="'form-control alert-danger'" /> <small
																class="form-text text-danger"
																th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></small>
														</div>
													</div>
													
													

												</form>
												
												
											</div>
											<div class="modal-footer">
												<button form="frmCreateOrderDetail" type="submit" 
													class="btn btn-primary">Agregar</button>
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Cancelar</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="form-group row" style="text-align: right;">
				<div class="container">
					<button type="submit" form="frmCreateOrder" class="btn btn-dark">Guardar</button>
					<a class="btn btn-primary" th:href="@{'/orders'}">Cancelar</a>
				</div>
			</div>
		</div>
		<footer th:replace="/index :: footer"></footer>
</body>

</html>